 /* Base styles for all sections */
 section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  color: #404040;
}

.graybox {
  background-color: #eaeaea;
  padding-left:60px;
  padding-right:60px;
}

/* About Section */
#aboutme {
  text-align: center; /* Center the text */
}

/* Services Section */
#services {
  background-color: #FFFFFF; /* A bright blue background */
  text-align: center; /* Align text to the left */
  padding-left:60px;
  padding-right:60px;
}

/* Pricing Section */
#pricing {
  text-align: center; /* Align text to the right */
}

/* Reviews Section */
#reviews {
  background-color: #FFFFFF; /* A teal background for reviews */
  text-align: center; /* Justify the text */
  padding-left:60px;
  padding-right:60px;
}

/* Gallery Section */
#gallery {
  text-align: center; /* Center the text */
}

/* FAQ Section */
#faq {
  background-color: #FFFFFF; /* A navy background for FAQs */
  text-align: center; /* Align text to the left */
  padding-left:60px;
  padding-right:60px;
}

/* Contact Section */
#contactus {
  text-align: center; /* Center the text */
}

/* General styles for headings and paragraphs */
section h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
}

section p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s ease-in-out;
}

/* Show elements when in view */
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  section {
    padding: 40px 15px;
  }
  section h2 {
    font-size: 2rem;
  }
}


